a.out
git-loc-history-cli
git-loc-history

/dev/test.cpp

.vscode

/build
/cache

libgit2-*
/v1.9.*

/pkg/usr
/pkg/*.deb
/pkg/*.rpm
/pkg/*.pkg.tar.gz
/pkg/git-loc-history_*
/pkg/rpmbuild
/pkg/package-build
